<div class="m-3">
  <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input placeholder="nombre"
          type="text"
          formControlName="fullname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
        />
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
          <div *ngIf="f['fullname'].errors['required']">Usuario requerido longitud minima (4) cartacteres</div>
        </div>
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>
  </div>
  <div class="m-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="id">id</th>
          <th scope="col" sortable="login">User</th>
          <th scope="col" sortable="followers_url">followers</th>
          <th scope="col" >Accion</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let Users of xUsers; index as i" >
          <tr
            [style.display]="i / pageSize >= page || i / pageSize < page - 1 ? 'none' : null " >
            <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
            <td>{{ Users.id }}</td>
            <td>{{ Users.login }}</td>
            <td>{{ Users.followers_url  }}</td>
            <td>
              <a class="btn" [routerLink]="['/detalles/', Users.login]" >
                <i class="bi bi-pencil text-primary">{{ Users.login }}</i>
              </a>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>

    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [maxSize]="10"
      [boundaryLinks]="true"
      [pageSize]="pageSize"
      class="d-flex justify-content-center"
    ></ngb-pagination>
  </div>
</div>
